.DS_Store
node_modules
results
temp
.nyc_output
coverage.json
*.tsbuildinfo
**/lcov.info

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
artifacts
cache

# jetbrains
.idea/

.secrets
.env
.env*
!.env.example
!.envrc.example

coverage.out

artifacts
forge-artifacts
cache
typechain
.deps
